<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
<table width="400" border="0" cellspacing="0" cellpadding="0">
  <td>
    <tr> <ion-img width="80" height="80" src="/assets/gallery-imgs/ghost1.png"></ion-img></tr>
  </td>
  <td>
    <tr> <a href="https://wildleoknight.wixsite.com/wildleoknight"><ion-img src="/assets/gallery-imgs/MiniTresh.gif"></ion-img></a></tr>
    
  </td>
</table>

<ion-grid>
    <ion-row>
    <ion-col col-6 *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
</ion-fab>

</ion-content>
